{% extends "layout.html" %}

{% block title %}
    Backdev - User Profile
{% endblock  %}

{% block content %}
<div class="card mt-5 mx-auto" style="max-width: 700px">
  <div class="card-body mx-5 my-3 d-flex">
    <div>
        <img class="rounded-circle" src="{{ image_url }}" alt="">
    </div>
    <div class="flex-grow-1 my-auto ml-md-5">
        <table>
            <tr>
                <td class="font-weight-bold">Username: </td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Email: </td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        {% if current_user.is_authenticated and user == current_user %}
            <a class="btn btn-primary mt-3" href="{{ url_for('edit_profile') }}">Update Profile</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock  %}