{% extends "layout.html" %}
{% block title %}
    Backdev - Post
{% endblock %}

{% block content %}
    <div class="card m-5">
        <div class="card-header d-flex align-items-center">
            <div>
                <div><h2>{{ post.title }}</h2></div>
                <div class="text-info">
                    {{ pendulum.instance(post.created_at).diff_for_humans() }}
                    by <a href="{{ url_for('show_profile', username=post.author.username) }}">{{ post.author.username }}</a>
                </div>
            </div>
            {% if current_user.id == post.author.id %}
                <div class="ml-auto">
                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-outline-info">Edit</a>
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-outline-info">Delete</a>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="text-center">
                <img src="https://placebeard.it/640x360" alt="">
            </div>
            <p class="card-text mt-3">{{ post.body }}</p>
        </div>
    </div>
    <div class="card m-5">
        <div class="card-header">
            {% if post.comments %}
                Comments
            {% else %}
                No comment yet.
            {% endif %}
        </div>
        <div class="card-body">
            {% if current_user.is_authenticated %}
                <form action="" method="POST" class='mb-5 d-flex flex-column'>
                    {{ form.csrf_token }}
                    {% if form.body.errors %}
                        {{ form.body(placeholder='Post a comment', class='form-control mb-3 is-invalid', rows=5)  }}
                        {% for error in form.body.errors %}
                            <p class='text-danger'>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form.body(placeholder='Post a comment', class='form-control mb-3', rows=5)  }}
                    {% endif %}
                    {{ form.submit(class='btn btn-info') }}
                </form>
            {% endif %}
            {% for comment in post.comments %}
                <div class="py-2">
                    <small class="text-info"><a href="{{ url_for('show_profile', username=comment.author.username) }}">{{ comment.author.username }}</a> {{ pendulum.instance(comment.created_at).diff_for_humans() }}.</small>
                    <p class="mb-0">{{ comment.body }}</p>
                    {% if comment.author.id == current_user.id %}
                        <a href="{{ url_for('update_comment', comment_id=comment.id) }}" class='text-muted small'>Edit</a>
                        <a href="{{ url_for('delete_comment', comment_id=comment.id) }}" class='text-muted small'>Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}