{% extends "layout.html" %}

{% block title %}
    Backdev - Home
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card m-5">
            <div class="card-header">
                <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
                <small class="text-muted">
                    by <a href="{{ url_for('show_profile', username=post.author.username) }}">{{ post.author.username }}</a>
                    {{ pendulum.instance(post.created_at).diff_for_humans() }}
                </small>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.body[:200] }}...</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
