{% extends "layout.html.j2" %} 

{% block title %} Backdev - Login {% endblock %}

{% block content %}
<div class="card mt-5 mx-auto" style="max-width: 500px">
  <div class="card-body mx-5 my-3">
    <form action="{{ url_for('store_login') }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label() }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label() }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.remember() }}
            {{ form.remember.label() }}
        </div>
        {{ form.submit(class="btn btn-outline-primary") }}
    </form>
  </div>
</div>
{% endblock %}
